---
import '../styles/global.css'
import Hero from '../components/Hero.astro'
import About from '../components/About.astro'

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Taro's Portfolio Website" />
		 
		<title>Taro - Portfolio</title>
	</head>
	<body class="bg-background flex flex-col overflow-x-hidden">
		<Hero />
		<About />
	</body>
</html>
