---
import EmailCopy from "./EmailCopy.astro";
import CVDonwload from "./CVDowload.astro";
import { Image } from "astro:assets";

import aboutImage from "../images/about.svg";
import nameImage from "../images/name.svg";
import taroPhoto from "../images/Taro2.webp";
import utnBackground from "../images/UTN-background.webp";
---

<section class="flex flex-col">
  <Image src={aboutImage} alt="" class="-mt-10 -z-20 w-full" />
  <div
    class="bg-amber-50 w-full h-210 rounded-t-4xl -mt-5 lg:-mt-10 flex flex-col gap-5 relative"
  >
    <div
      class="flex flex-col lg:flex-row items-center mt-15 lg:ml-15 gap-5 w-full z-10"
    >
      <h1>
        <Image
          src={nameImage}
          alt="Lautaro Zubiri"
          class="w-110 lg:w-full xl:w-180 pointer-events-none"
        />
      </h1>
      <aside
        class="border-2 w-fit h-fit py-1 px-3 rounded-4xl border-detail text-detail uppercase"
      >
        Sobre mí
      </aside>
    </div>
    <div class="mx-3 flex flex-col gap-5 z-10 lg:self-end">
      <p class="text-xl lg:text-2xl lg:w-150 xl:w-210 2xl:w-280">
        Soy desarrollador web FrontEnd y estudiante de Ingeniería en Sistemas en
        la Universidad Tecnológica Nacional - FRLP. <br /><br />
        Trabajo combinando mis habilidades técnicas con las habilidades blandas que
        ofrece una carrera como la Ingeniería en Sistemas, lo que me permite gestionar
        proyectos de manera integral y efectiva.
      </p>
      <aside class="flex justify-center gap-5 max-w-100">
        <EmailCopy />
        <CVDonwload />
      </aside>
    </div>

    <Image
      src={taroPhoto}
      alt="Foto de Lautaro Zubiri"
      class="rotate-y-180 absolute bottom-0 left-0 w-70 md:w-90 lg:w-150 xl:w-150 z-1 pointer-events-none"
    />
    <Image
      src={utnBackground}
      alt="background"
      class="absolute bottom-0 right-0 w-full h-auto min-h-30 max-w-380 pointer-events-none z-0 opacity-50"
    />
  </div>
</section>
