---
import { Image } from "astro:assets";
import heroImage from "../images/hero.svg";
---

<section class="h-lvh grid place-items-center">
  <h1>
    <Image src={heroImage} alt="Hero" loading="eager"
    class="lg:scale-150" />
  </h1>
</section>
